.custom-select {
    position: relative;
    font-size: 0.67rem;
    transition: 0.3s all;
    &__title {
        padding-right: 0.7083rem;
        background: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.33344 6.72168L-5.87545e-08 1.34415L1.33312 -4.66264e-07L6 4.70546L10.6669 -5.82727e-08L12 1.34415L6.66656 6.72168C6.48976 6.89989 6.25 7 6 7C5.75 7 5.51024 6.89989 5.33344 6.72168Z' fill='%23000000' /%3E%3C/svg%3E") no-repeat right center / auto 0.29167rem;
        transition: inherit;
        cursor: pointer;
        &:hover {
            color: $primaryColor;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.33344 6.72168L-5.87545e-08 1.34415L1.33312 -4.66264e-07L6 4.70546L10.6669 -5.82727e-08L12 1.34415L6.66656 6.72168C6.48976 6.89989 6.25 7 6 7C5.75 7 5.51024 6.89989 5.33344 6.72168Z' fill='%23FF4040' /%3E%3C/svg%3E");
        }
    }
    &__list {
        position: absolute;
        top: calc(100% + 0.2rem);
        left: 0;
        padding: 0.625rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0 0 0 / 0.15);
        transition: inherit;
        &-item {
            transition: 0.2s all;
            cursor: pointer;
            &:hover {
                color: $primaryColor;
            }
            &--active {
                cursor: default;
                color: $primaryColor;
                text-decoration: underline;
            }
        }
    }

    &:not(&--active) {
        .custom-select__list {
            opacity: 0;
            visibility: hidden;
            transform: translateY(10%);
        }
    }

    &--active {
        .custom-select__title {
            color: $primaryColor;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.33344 0.278323L1.55761e-07 5.65586L1.33312 7L6 2.29454L10.6669 7L12 5.65585L6.66656 0.278323C6.48976 0.100113 6.25 2.25674e-07 6 2.36602e-07C5.75 2.4753e-07 5.51024 0.100113 5.33344 0.278323Z' fill='%23FF4040' /%3E%3C/svg%3E");
        }
    }
}

@media (max-width: 768px) {
    .custom-select {
        font-size: 1rem;
        &__title {
            padding-right: 0.8rem;
        }
        &__list {
            padding: 0.8rem;
            display: flex;
            gap: 0.65rem;
        }
    }
}