@font-face {
  font-family: 'Montserrat';
  font-weight: 400; /* Regular */
  src: url('../../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600; /* SemiBold */
  src: url('../../fonts/montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500; /* Medium */
  src: url('../../fonts/montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300; /* Light */
  src: url('../../fonts/montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900; /* Black */
  src: url('../../fonts/montserrat/Montserrat-Black.ttf') format('truetype');
}



html, body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000;
}

@media (max-width: 1440px) {
  html, body {
    font-size: 1.66667vw;
  }
}

@media (max-width: 768px) {
  html, body {
    font-size: 2.34375vw;
  }
}

@media (max-width: 480px) {
  html, body {
    font-size: 3.1915vw;
  }
}

@media (max-width: 375px) {
  html, body {
    font-size: 12px;
  }
}