.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  &__item {
    position: relative;
    min-height: 8.33rem;
    padding: 0.8333rem;
    background: #fff;
    border-radius: 0.41667rem;
    overflow: hidden;
    transition: 0.3s all;
    &-title {
      position: relative;
      z-index: 2;
      font-weight: 500;
      transition: inherit;
    }
    &-image {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 10.46rem;
      height: 5.75rem;
      img {
        @extend %contain-image;
      }
    }
    &:hover {
      box-shadow: inset 0 0.20833rem 1.25rem rgba(0 0 0 / 0.085);
      .categories__item-title {
        color: $primaryColor;
      }
    }
  }
}

@media (max-width: 768px) {
  .categories {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    &__item {
      min-height: 6.75rem;
      padding: 1rem;
      border-radius: 0.8333rem;
      &-image {
        width: 8.8333rem;
        height: 4.8333rem;
      }
      &:hover {
        box-shadow: 0 0 1.6667rem rgba(0 0 0 / 0.2);
      }
    }
  }
}