.products {
  &:not(.swiper) &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    &-favorite {
      position: absolute;
      top: 0.9375rem;
      right: 0.88547rem;
      z-index: 2;
      width: 0.91667rem;
      height: 0.91667rem;
      background: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.75 2.96581L10.21 3.48581C10.28 3.55839 10.3638 3.61613 10.4566 3.65557C10.5494 3.695 10.6492 3.71533 10.75 3.71533C10.8508 3.71533 10.9506 3.695 11.0434 3.65557C11.1362 3.61613 11.22 3.55839 11.29 3.48581L10.75 2.96581ZM8.176 15.7878C6.66 14.5928 5.003 13.4258 3.688 11.9458C2.4 10.4938 1.5 8.80081 1.5 6.60281H0C0 9.26881 1.11 11.3028 2.567 12.9418C3.997 14.5518 5.821 15.8418 7.247 16.9658L8.176 15.7878ZM1.5 6.60281C1.5 4.45281 2.715 2.64881 4.374 1.88981C5.986 1.15281 8.152 1.34781 10.21 3.48581L11.29 2.44681C8.85 -0.0901935 6.014 -0.509194 3.75 0.525806C1.536 1.53881 0 3.89081 0 6.60281H1.5ZM7.247 16.9658C7.76 17.3698 8.31 17.7998 8.867 18.1258C9.424 18.4518 10.06 18.7158 10.75 18.7158V17.2158C10.44 17.2158 10.076 17.0958 9.624 16.8308C9.171 16.5668 8.702 16.2028 8.176 15.7878L7.247 16.9658ZM14.253 16.9658C15.679 15.8408 17.503 14.5528 18.933 12.9418C20.39 11.3018 21.5 9.26881 21.5 6.60281H20C20 8.80081 19.1 10.4938 17.812 11.9458C16.497 13.4258 14.84 14.5928 13.324 15.7878L14.253 16.9658ZM21.5 6.60281C21.5 3.89081 19.965 1.53881 17.75 0.525806C15.486 -0.509194 12.652 -0.0901935 10.21 2.44581L11.29 3.48581C13.348 1.34881 15.514 1.15281 17.126 1.88981C18.785 2.64881 20 4.45181 20 6.60281H21.5ZM13.324 15.7878C12.798 16.2028 12.329 16.5668 11.876 16.8308C11.423 17.0948 11.06 17.2158 10.75 17.2158V18.7158C11.44 18.7158 12.076 18.4508 12.633 18.1258C13.191 17.7998 13.74 17.3698 14.253 16.9658L13.324 15.7878Z' fill='black' /%3E%3C/svg%3E") no-repeat center / contain;
      transition: 0.2s all;
      &--active {
        background-image: url("data:image/svg+xml,%3Csvg width='22' height='19' viewBox='0 0 22 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.75 2.96581L10.21 3.48581C10.28 3.55839 10.3638 3.61613 10.4566 3.65557C10.5494 3.695 10.6492 3.71533 10.75 3.71533C10.8508 3.71533 10.9506 3.695 11.0434 3.65557C11.1362 3.61613 11.22 3.55839 11.29 3.48581L10.75 2.96581ZM8.176 15.7878C6.66 14.5928 5.003 13.4258 3.688 11.9458C2.4 10.4938 1.5 8.80081 1.5 6.60281H0C0 9.26881 1.11 11.3028 2.567 12.9418C3.997 14.5518 5.821 15.8418 7.247 16.9658L8.176 15.7878ZM1.5 6.60281C1.5 4.45281 2.715 2.64881 4.374 1.88981C5.986 1.15281 8.152 1.34781 10.21 3.48581L11.29 2.44681C8.85 -0.0901935 6.014 -0.509194 3.75 0.525806C1.536 1.53881 0 3.89081 0 6.60281H1.5ZM7.247 16.9658C7.76 17.3698 8.31 17.7998 8.867 18.1258C9.424 18.4518 10.06 18.7158 10.75 18.7158V17.2158C10.44 17.2158 10.076 17.0958 9.624 16.8308C9.171 16.5668 8.702 16.2028 8.176 15.7878L7.247 16.9658ZM14.253 16.9658C15.679 15.8408 17.503 14.5528 18.933 12.9418C20.39 11.3018 21.5 9.26881 21.5 6.60281H20C20 8.80081 19.1 10.4938 17.812 11.9458C16.497 13.4258 14.84 14.5928 13.324 15.7878L14.253 16.9658ZM21.5 6.60281C21.5 3.89081 19.965 1.53881 17.75 0.525806C15.486 -0.509194 12.652 -0.0901935 10.21 2.44581L11.29 3.48581C13.348 1.34881 15.514 1.15281 17.126 1.88981C18.785 2.64881 20 4.45181 20 6.60281H21.5ZM13.324 15.7878C12.798 16.2028 12.329 16.5668 11.876 16.8308C11.423 17.0948 11.06 17.2158 10.75 17.2158V18.7158C11.44 18.7158 12.076 18.4508 12.633 18.1258C13.191 17.7998 13.74 17.3698 14.253 16.9658L13.324 15.7878Z' fill='%23FF4040' /%3E%3Ccircle cx='6.25' cy='6.96582' r='5.5' fill='%23FF4040' /%3E%3Ccircle cx='8.25' cy='9.96582' r='5.5' fill='%23FF4040' /%3E%3Ccircle cx='11.25' cy='11.9658' r='5.5' fill='%23FF4040' /%3E%3Ccircle cx='15.25' cy='7.96582' r='5.5' fill='%23FF4040' /%3E%3Ccircle cx='14.75' cy='6.46582' r='6' fill='%23FF4040' /%3E%3C/svg%3E");
      }
    }
    &-image {
      background: #E9E9E9;
      border-radius: 0.42rem;
      overflow: hidden;
      @extend %adaptive-image;
      padding-bottom: 100%;
      transition: 0.5s all;
      &:hover {
        box-shadow: inset 0 0.20833rem 1.25rem rgba(0 0 0 / 0.085);
      }
      img {
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: contain;
      }
      &:not(:last-child) {
        margin-bottom: 0.41667rem;
      }
    }
    &-model {
      opacity: 0.7;
      font-size: 0.67rem;
      &:not(:last-child) {
        margin-bottom: 0.41667rem;
      }
    }
    &-title {
      font-size: 0.83rem;
      transition: 0.2s all;
      &:hover {
        color: $primaryColor;
      }
      &:not(:last-child) {
        margin-bottom: 0.41667rem;
      }
    }
    &-price {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 500;
      white-space: nowrap;
      small {
        opacity: 0.5;
        font-size: 0.8333rem;
        text-decoration: line-through;
      }
      &:not(:last-child) {
        margin-bottom: 0.625rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .products {
    &:not(.swiper) &__items {
      grid-template-columns: repeat(2, 1fr);
    }
    &__item {
      &-favorite {
        top: 0.965rem;
        right: 0.8983rem;
        width: 1.12rem;
        height: 1.12rem;
      }
      &-image {
        border-radius: 0.8333rem;
        &:not(:last-child) {
          margin-bottom: 0.8333rem;
        }
      }
      &-model {
        font-size: 0.8333rem;
        &:not(:last-child) {
          margin-bottom: 0.8333rem;
        }
      }
      &-title {
        font-size: 0.91667rem;
        &:not(:last-child) {
          margin-bottom: 0.83333rem;
        }
      }
      &-price {
        gap: 0.41667rem;
        &:not(:last-child) {
          margin-bottom: 0.8333rem;
        }
      }
      &-btn {
        padding: 0.8333rem;
        font-size: 1rem;
      }
    }
  }
}